# .travis.yml based on https://github.com/DRMacIver/hypothesis/blob/master/.travis.yml
language: c
sudo: false
dist: trusty

env:
    global:
        - BUILD_RUNTIMES=$HOME/.runtimes

    matrix:
      # These are ordered to get as much diversity in the
      # first group of parallel runs (4) as posible
      - TASK=test-py27-noembed
      - TASK=test-pypy
      - TASK=test-py36
      - TASK=lint-py27
      - TASK=test-pypy3
      - TASK=test-py35
      - TASK=test-py278
      - TASK=test-py27
      - TASK=test-py34
      - TASK=test-py27-cffi

matrix:
  fast_finish: true

script:
    - make $TASK

notifications:
  email: false

# cache: pip seems not to work if `install` is replaced (https://github.com/travis-ci/travis-ci/issues/3239)
cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/.venv
    - $HOME/.runtimes
    - $HOME/.wheelhouse

before_cache:
    - rm -f $HOME/.cache/pip/log/debug.log
