recursive-include src/greentest *
recursive-include examples *
recursive-include src/gevent *
recursive-include docs *
recursive-include deps *


include LICENSE
include NOTICE
include README.rst
include CONTRIBUTING.rst
include TODO
include changelog.rst
include MANIFEST.in
include AUTHORS
include Makefile.ext
include known_failures.py
include *.yml
include *.txt
include _setup*.py
include CHANGES.rst
include pyproject.toml
include .coveragerc
include .coveragerc-pypy

include tox.ini
include .pep8
include .pylintrc
recursive-include .github *.md
recursive-include benchmarks *.sh *.py
recursive-include appveyor *.cmd
recursive-include appveyor *.ps1
recursive-include scripts *.sh *.py
include scripts/releases/make-manylinux

### Artifacts of configuring/building in place
# These we want, they come from the Makefile step
#- recursive-exclude gevent corecext.pyx *.c *.h
# This we want if we're on PyPy it's moved there ahead of time
# by setup.py
#- prune gevent/libev
prune */__pycache__
global-exclude *.so
global-exclude *.o
global-exclude *.lo
global-exclude *.la
global-exclude .dirstamp
global-exclude config.log config.status config.cache
prune docs/_build
global-exclude *.pyc
recursive-exclude src/greentest .coverage
prune src/greentest/htmlcov
recursive-exclude deps/c-ares stamp-h? ares_build.h.orig

# This is the output of _corecffi_build.py and may be particular
# to each CFFI version/platform
recursive-exclude src/gevent _corecffi.c
exclude configure-output
exclude configure-output.txt
exclude deps/TAGS
exclude deps/libev/configure-output.txt

exclude deps/c-ares/ares_build.h
exclude deps/c-ares/ares_config.h
exclude deps/c-ares/libcares.pc
exclude deps/c-ares/libtool
exclude deps/c-ares/Makefile

prune deps/c-ares/.deps
prune deps/c-ares/.libs

prune deps/libev/.deps
prune deps/libev/.libs
recursive-exclude deps/libev Makefile libtool stamp-h? config.h

prune deps/libuv/.deps
prune deps/libuv/.libs
prune deps/libuv/src/.deps
prune deps/libuv/src/unix/.deps
prune deps/libuv/src/win/.deps
prune deps/libuv/test/.deps
prune deps/libuv/autom4te.cache
prune deps/libuv/m4
recursive-exclude deps/libuv Makefile Makefile.in ar-lib aclocal.m4 compile configure depcomp install-sh libtool libuv.pc ltmain.sh missing
