recursive-include greentest *
recursive-include examples *
recursive-include gevent *
recursive-include doc *
recursive-include libev *
recursive-include c-ares *
include LICENSE
include README.rst
include TODO
include changelog.rst
include MANIFEST.in
include AUTHORS
