#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean
	rm -f gevent/*.so

override_dh_compress:
	dh_compress -X.js -X_static/* -X _sources/* -X_sources/*/* -X.inv

override_dh_strip:
	dh_strip --dbg-package=python-gevent-dbg

.PHONY: override_dh_auto_clean override_dh_compress override_dh_strip
